<h2>Paises</h2>
<hr />

<ul class="list-group">
  <li *ngFor="let route of routeList"
    [routerLink]="route.path"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    class="list-group-item"
  >
    {{(route.title| titlecase)}} Page
  </li>
  <!-- <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item"
  >
    About Page
  </li>
  <li
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item"
  >
    Contact Page
  </li> -->
</ul>
