<h2>Por Capital</h2>
<hr />
<div class="row">
  <div class="col">
    <!-- search box -->
    <!-- (newEventEmitter)="searchByCapital($event)"  -->
    <shared-search-box
    (onDebounce)="searchByCapital($event)"
      [placeholder]="'Buscar por Capital'" >
    </shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <!-- <ul>
      <li *ngFor="let country of countries">
        {{country.capital}} - {{country.population}}
      </li>
    </ul> -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
